
.card {
    margin-bottom: 15px;
    margin-top: 15px;
    .card-title {
        display: inline-block;
        width: 200px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
}