<div class="bg">
    <div class="product-buttons">
        <div class="container">
          <div class="row text-center">
            <div class="col-sm">
              <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/products">List Products</button>
        
            </div>
            <div class="col-sm">
              <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="/products/addproduct">Add Product</button>
            </div>
          </div>
        </div>
      </div>
    
</div>